<div class="container">
<% if @errors %>
  <%= erb :'_errors', :layout => false %>
<% end %>
  <form action="/login" method="post">
      <div>
        Username:
        <input type="text" name="user[username]">
      </div>
      <br>
      <div>
        Password:
        <input type="password" name="user[password]">
      </div>
      <br><br>
    <input type="submit" value="Log In">
  </form>
</div>

