<div class="container">
  <form action="/login" method="post">
      <div>
        Name:
        <input type="text" name="user[name]">
      </div>
      <br>
      <div>
        Password:
        <input type="password" name="user[password]">
      </div>
      <br><br>
    <input type="submit" value="Log In">
  </form>
</div>
