<% if @errors %>
  <%= erb :'_errors', :layout => false %>
<% end %>

<h1 class="center-text">Register</h1>
<div class="center-align">
<div class="form-wrap">
<form id="register-form" class="form" action="/register" method="post">
  <div><label for="name">Name:</label>
  <input type="text" name="user[name]" placeholder="Name"></div>
  <div><label for="password">Password:</label>
  <input type="password" name="user[password]" placeholder="Password"></div>
  <input type="submit" value="register">
</form>

    </div>
</div>
