<br><br>
  <form action="/reviews" method="post">
    Title:<br>
    <input type = "text" name="review[title]"><br><br>
    Body: <br>
    <textarea rows="4" cols="50" name="review[body]"></textarea>
    <br><br>
    <input type = "submit" name="Publish">
  </form>
